Cython
geopandas==0.11.1
geopy==2.2.0
google-streetview==1.2.9
ipykernel 
ipython
matplotlib==3.6.1
networkx==2.8.7
numpy
onnx==1.12.0
onnxruntime==1.12.1
opencv-python==4.6.0.66
osmnx
pandas
pathlib2
Pillow==8.4.0
plotly==5.9.0
plotly-express==0.4.1
protobuf==3.20.1
requests==2.28.1
requests-toolbelt==0.9.1
Shapely==1.8.2
spyder
spyder-kernels
streamlit==1.11.1
streamlit-embedcode==0.1.2
streamlit-lottie==0.0.3
streamlit-option-menu==0.3.2
tqdm 
urllib3==1.26.7